@import url('https://fonts.googleapis.com/css2?family=Jacquarda+Bastarda+9&display=swap');

body{
    font-family: 'Jacquarda Bastarda 9';
    background-color: blue;
    align-items: center;
}

img{
    width: 1000;
}